.admin-layout{
    display:flex;
    min-height:100vh;
    background:var(--bg);
    color:var(--text);
    transition:.25s;
}

.admin-main{
    flex:1;
    display:flex;
    flex-direction:column;
    background:var(--bg);
    color:var(--text);
    transition:.25s;
    margin-left: 260px;
}

.admin-content{
    flex:1;
    padding:24px;
    background:var(--bg);
    color:var(--text);
    transition:.25s;
}

@media (max-width: 992px) {
    .admin-sidebar {
        position: relative;
        width: 100%;
        min-height: auto;
    }

    .admin-main {
        margin-left: 0;
    }
}