.admin-layout {
  display: flex;
  min-height: 100vh;

  background: var(--bg);
  color: var(--text);

  transition: 0.25s ease;
}

.admin-main {
  flex: 1;

  margin-left: 260px;

  display: flex;
  flex-direction: column;

  min-width: 0;

  background: var(--bg);
  color: var(--text);

  transition: 0.25s ease;
}

.admin-content {
  flex: 1;
  padding: 24px;

  background: var(--bg);
  color: var(--text);

  transition: 0.25s ease;
}